<%= provide :title, @client %>
<%= provide :page_header, @client %>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card card-figure">
      <figure class="figure">
        <%= image_tag "https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png", class: "img-fluid" %>

        <figcaption class="figure-caption">
          <%= content_tag :h6, @client, class: "figure-title" %>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="col-xl-6 col-lg-8 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <%= content_tag :h3, @client.name, class: "card-title" %>
        <p class="card-text">
          <%= content_tag :span, Client.human_attribute_name(:user_id),
            class: "font-weight-bold text-uppercase" %><br>
          <%= link_to @client.user, admin_user_path(@client.user) %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Client.human_attribute_name(:telephone),
            class: "font-weight-bold text-uppercase" %><br>
          <%= @client.telephone %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Client.human_attribute_name(:city_id),
            class: "font-weight-bold text-uppercase" %><br>
          <%= @client.location %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Client.human_attribute_name(:address),
            class: "font-weight-bold text-uppercase" %><br>
          <%= link_to @client.full_address, @client.google_maps_link, target: "_blank" %>
        </p>

        <hr>
        <p class="card-text">
          <%= content_tag :span, Client.human_attribute_name(:billing_data),
            class: "font-weight-bold text-uppercase" %><br>
          <%= render partial: "billing", locals: {billing: @client.billing_data} if @client.billing_data %>
        </p>
      </div>
    </div>
  </div>
</div>
