<div class="row">
  <div class="col-md-12">
    <div class="card">
      <%= content_tag :h5, t("labels.filters"), class: "card-header" %>
      <div class="card-body">
        <%= form_for :filters, method: :get, html: {class: "form-inline"} do |f| %>
          <div class="form-group mx-sm-3">
            <%= label_tag :warehouse_id, Warehouse.model_name.human, class: "sr-only"  %>
            <%= select_tag :warehouse_id, 
              options_from_collection_for_select(Warehouse.for_select, :last, :first, params[:warehouse_id]),
              prompt: Warehouse.model_name.human, class: "form-control" %>
          </div>
          
          <div class="form-group mx-sm-3">
            <%= label_tag :product_id, Product.model_name.human(count: 1), class: "sr-only"  %>
            <%= select_tag :product_id, 
              options_from_collection_for_select(Product.for_select, :last, :first, params[:product_id]),
              prompt: Product.model_name.human(count: 1), class: "form-control" %>
          </div>
          <%= f.submit t("labels.do_filter"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
