<%= provide :title, Stock.model_name.human(count: 2) %>
<%= provide :page_header, Stock.model_name.human(count: 2) %>

<%= render "filters" %>

<%= render partial: "/shared/admin/warehouse_header", locals: {warehouse: @warehouse} %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        <%= yield :title %>

        <div class="btn-group dropleft float-right">
          <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v fa-1x"></i>
          </button>
          <div class="dropdown-menu">
            <%= link_to transactions_admin_stocks_path(), class: "dropdown-item icon" do %>
              <i class="fas fa-fw fa-clipboard-list"></i> <%= t("labels.transactions") %>
            <% end if current_user.admin? %>

            <%= link_to "#", class: "dropdown-item icon",
              "data-toggle" => "modal", "data-target" => "#qrmodal" do %>
              <i class="fas fa-fw fa-code"></i> <%= t("labels.print_qr") %>
            <% end if can? :print_qr, Stock %>

            <%= link_to batch_search_admin_stocks_path(), class: "dropdown-item icon" do %>
              <i class="fas fa-fw fa-map-marker-alt"></i> <%= t("labels.batch_search") %>
            <% end %>
          </div>
        </div>
      </h5>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light">
              <tr class="border-0">
                <%= content_tag :th, Stock.human_attribute_name(:product_id), class: "border-0" %>
                <%= content_tag :th, Stock.human_attribute_name(:units), class: "border-0" %>
                <%= content_tag :th, Stock.human_attribute_name(:batch), class: "border-0" %>
                <%= content_tag :th, Stock.human_attribute_name(:expiration_date), class: "border-0" %>
                <%= content_tag :th, t("labels.actions"), class: "border-0" %>
              </tr>
            </thead>
            <tbody>
              <%= render @stocks %>
            </tbody>
          </table>

          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="qrmodal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Imprimir código QR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :qr, method: :get, url: print_qr_admin_stock_path(0) do |f| %>
          <div class="form-group">
            <%= f.label :product_id, Product.model_name.human(count: 1)  %>
            <%= f.select :product_id, Product.for_select,
              { prompt: Product.model_name.human },
              { class: "form-control", required: true } %>
          </div>

          <div class="form-group">
            <%= f.label :batch, t("labels.batch")  %>
            <%= f.text_field :batch, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= f.label :expires_at, t("labels.expires_at")  %>
            <%= f.text_field :expires_at, class: "form-control", required: true %>
          </div>

          <%= f.submit t("labels.print_qr"), class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on("turbolinks:load", function(){
  $("#qr_expires_at").datepicker({ format: "dd-mm-yyyy" });
})
</script>
