<%= provide :title, Ticket.model_name.human %>
<%= provide :page_header, Ticket.model_name.human %>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= l(@ticket.created_at, format: :long) %></h3>

        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
            <p class="card-text">
              <%= content_tag :span, Ticket.human_attribute_name(:user_id),
                class: "font-weight-bold text-uppercase" %><br>
              <%= link_to @ticket.user, admin_user_path(@ticket.user) %>
            </p>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
            <p class="card-text">
              <%= content_tag :span, Ticket.human_attribute_name(:client_id),
                class: "font-weight-bold text-uppercase" %><br>
              <%= link_to @ticket.client, admin_client_path(@ticket.client), target: "_blank" %>
            </p>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
            <p class="card-text">
              <%= content_tag :span, Ticket.human_attribute_name(:total),
                class: "font-weight-bold text-uppercase" %><br>
              <%= t("labels.currency", ammount: @ticket.total) %>
            </p>
          </div>
        </div>
        <!--------------------------------->
        <!------------ END ROW ------------>
        <!--------------------------------->

        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
            <p class="card-text">
              <%= content_tag :span, Ticket.human_attribute_name(:payment_method),
                class: "font-weight-bold text-uppercase" %><br>
              <%= @ticket.payment_method %>
            </p>
          </div>

          <% if @ticket.invoice_required? %>
            <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
              <p class="card-text">
                <%= content_tag :span, Ticket.human_attribute_name(:cfdi),
                  class: "font-weight-bold text-uppercase" %><br>
                <%= @ticket.cfdi %>
              </p>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
              <p class="card-text">
                <%= content_tag :span, t("labels.invoice_required"),
                  class: "label label-success" %><br>
                <%= content_tag :span, @ticket.invoice_folio,
                  class: "label label-primary" if @ticket.invoice_folio %>
              </p>
            </div>
          <% end %>

          <div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
            <p class="card-text">
              <%= content_tag :span, t("labels.date"),
                class: "font-weight-bold text-uppercase" %><br>
              <%= l(@ticket.created_at, format: :long) %>
            </p>
          </div>
        </div>
        <!--------------------------------->
        <!------------ END ROW ------------>
        <!--------------------------------->

        <h3 class="card-title">Details</h3>
        <% @ticket.details.includes(:product).each do |detail| %>
          <%= render partial: "detail", locals: { detail: detail} %>
        <% end %>

        <div class="row">
          <%= form_for :ticket, url: save_invoice_folio_admin_ticket_path(@ticket), method: :put do |f| %>
            <div class="form-group">
              <%= f.label :invoice_folio, Ticket.human_attribute_name(:invoice_folio) %>
              <%= f.text_field :invoice_folio, class: "form-control", required: true %>
            </div>

            <%= f.submit t("labels.save"), class: "btn btn-primary btn-lg" %>
          <% end if can? :save_invoice_folio, @ticket %>
        </div>
      </div>
    </div>
  </div>
</div>
