<%= provide :title, WarehouseShipment.model_name.human(count: 2) %>
<%= provide :page_header, WarehouseShipment.model_name.human(count: 2) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        <%= yield :title %>
        <%= link_to new_admin_warehouse_shipment_path, class: "float-right" do %>
          <i class="fas fa-fw fa-plus-circle fa-2x"></i>
        <% end %>
      </h5>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light">
              <tr class="border-0">
                <%= content_tag :th, WarehouseShipment.human_attribute_name(:user_id), class: "border-0" %>
                <%= content_tag :th, WarehouseShipment.human_attribute_name(:warehouse_id), class: "border-0" %>
                <%= content_tag :th, WarehouseShipment.human_attribute_name(:receiver_user_id), class: "border-0" %>
                <%= content_tag :th, WarehouseShipment.human_attribute_name(:status), class: "border-0" %>
                <%= content_tag :th, t("labels.actions") %>
              </tr>
            </thead>
            <tbody>
              <%= render @warehouse_shipments %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
