<% box = Hash.new unless box %>

<div class="removable-parent">
  <%= render partial: "/shared/admin/remove_parent_btn", locals: {title: t(".title")} %>

  <div class="form-group">
    <%= label_tag :name, t("labels.name") %>
    <%= text_field_tag "box_names[]", box["name"], class: "form-control", maxlength: 60 %>
  </div>

  <div class="form-group">
    <%= label_tag :units, t("labels.units_per_box") %>
    <%= number_field_tag "box_units[]", box["units"], class: "form-control",
      min: 1, step: 1 %>
  </div>

  <hr>
</div>
