<tr>
  <td>
    <div class="m-r-10">
      <%= link_to admin_product_path(product) do %>
        <%= image_tag product.main_image.variant(small_variant).processed,
          class: "rounded table-img" %>
      <% end %>
    </div>
  </td>
  <%= content_tag :td, product.name %>
  <%= content_tag :td, product.retail_price %>
  <%= content_tag :td, product.half_wholesale_price %>
  <%= content_tag :td, product.wholesale_price %>
  <td>
    <%= link_to edit_admin_product_path(product),
      class: "btn btn-outline-light btn-sm" do %>
      <i class="fas fa-fw fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_product_path(product),
      method: :delete, class: "btn btn-danger btn-sm",
      data: { confirm: t(".you_sure", product: product) } do %>
      <i class="fas fa-fw fa-trash"></i>
    <% end %>
  </td>
</tr>
