<tr>
  <td>
    <%= link_to supply_order.user, admin_user_path(supply_order.user) %>
  </td>
  <td>
    <%= link_to supply_order.target_user, admin_user_path(supply_order.target_user) %>
  </td>
  <td>
    <%= link_to supply_order.supplier, admin_user_path(supply_order.supplier) if supply_order.supplier.present? %>
  </td>
  <%= content_tag :td, t("labels.processed.#{supply_order.processed}").html_safe %>
  <td>
    <%= link_to admin_supply_order_path(supply_order),
      class: "btn btn-outline-light btn-sm" do %>
      <i class="fas fa-fw fa-eye"></i>
    <% end %>

    <%= link_to admin_supply_order_path(supply_order),
      method: :delete, class: "btn btn-danger btn-sm",
      data: { confirm: t(".you_sure") } do %>
      <i class="fas fa-fw fa-trash"></i>
    <% end if supply_order.deletable_by?(current_user) %>
  </td>
</tr>
