<div class="removable-parent">
  <%= render partial: "/shared/admin/remove_parent_btn", locals: {title: "--- --- --- ---"} %>

  <div class="form-group">
    <%= label_tag "products[replace_me[product_id]]", t("labels.product") %>
    <%= select_tag "products[replace_me[product_id]]",
      options_from_collection_for_select(Product.for_select(id: @supply_order.product_ids), :last, :first),
      prompt: t("labels.select"), class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= label_tag "products[replace_me[units]]", t("labels.units") %>
    <%= number_field_tag "products[replace_me[units]]", nil, class: "form-control",
      min: 1, step: 1, required: true %>
  </div>

  <div class="form-group">
    <%= label_tag "products[replace_me[batch]]", t("labels.batch") %>
    <%= text_field_tag "products[replace_me[batch]]", nil, class: "form-control",
      maxlenght: 20, required: true %>
  </div>

  <hr>
</div>
