<%= provide :title, User.model_name.human(count: 2) %>
<%= provide :page_header, User.model_name.human(count: 2) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        <%= t(".card_title") %>
        <%= link_to new_admin_user_path do %>
          <i class="fas fa-fw fa-plus-circle fa-2x float-right"></i>
        <% end %>
      </h5>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light">
              <tr class="border-0">
                <%= content_tag :th, User.human_attribute_name(:avatar), class: "border-0" %>
                <%= content_tag :th, User.human_attribute_name(:name), class: "border-0" %>
                <%= content_tag :th, User.human_attribute_name(:cellphone), class: "border-0" %>
                <%= content_tag :th, User.human_attribute_name(:email), class: "border-0" %>
                <%= content_tag :th, User.human_attribute_name(:rol), class: "border-0" %>
                <%= content_tag :th, t("labels.actions"), class: "border-0" %>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
