<%= provide :title, @user %>
<%= provide :page_header, @user %>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card card-figure">
      <figure class="figure">
        <%= image_tag @user.avatar.variant(thumbnail_variant).processed,
          class: "img-fluid" if @user.avatar.attached? %>

        <figcaption class="figure-caption">
          <%= content_tag :h6, @user, class: "figure-title" %>
          <%= content_tag :span, t("roles.#{@user.role}"), class: "badge badge-secondary badge-pill" %>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="col-xl-6 col-lg-8 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= yield :title %></h3>
        <p class="card-text">
          <%= content_tag :span, User.human_attribute_name(:name),
            class: "font-weight-bold text-uppercase" %><br>
          <%= @user %>
        </p>
        <p class="card-text">
          <%= content_tag :span, User.human_attribute_name(:email),
            class: "font-weight-bold text-uppercase" %><br>
          <%= @user.email %>
        </p>
        <p class="card-text">
          <%= content_tag :span, User.human_attribute_name(:cellphone),
            class: "font-weight-bold text-uppercase" %><br>
          <%= @user.cellphone %>
        </p>
        <p class="card-text">
          <%= content_tag :span, User.human_attribute_name(:rol),
            class: "font-weight-bold text-uppercase" %><br>
          <%= content_tag :span, t("roles.#{@user.role}"), class: "badge badge-secondary badge-pill" %>
        </p>
        <p class="card-text">
          <%= content_tag :span, User.human_attribute_name(:warehouse_id),
            class: "font-weight-bold text-uppercase" %><br>
          <%= @user.warehouse %>
        </p>
      </div>
    </div>
  </div>
</div>
